{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Category index{% endtrans %}</h1>

    <table class="table bg-dark text-white" >
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}ShortName{% endtrans %}</th>
                <th>{% trans %}LongName{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i> {% trans %}Show{% endtrans %}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"> {% trans %}No record found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}"><i class="far fa-plus-square"></i> {% trans %}Create new{% endtrans %}</a>
    <a class="btn btn-primary" href="{{ path('user_index') }}">Users</a>
{% endblock %}
