{% extends 'base.html.twig' %}

{% block title %}{% trans %}Hello{% endtrans %} DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="center"><h1>{% trans %}Symfony is great!{% endtrans %}</h1> {{ controller_name }}! ✅</h1>

    {% trans %}This great message help you{% endtrans %}
    <ul class="d-flex justify-content-around">
        <li><a href="{{url('category_index')}}">{% trans %}List category{% endtrans %} </a></li>
        <li><a href="{{url('user_index')}}">{% trans %}List users{% endtrans %} </a></li>
    </ul>
</div>

<a class="btn btn-primary" href="{{ path('app_login') }}">{% trans %}Connection{% endtrans %}</a>
<a  class="btn btn-primary" href="{{ path('category_new') }}">{% trans %}Create new{% endtrans %}</a>

{% endblock %}
